<div class="table table-striped">
	<table class="table" >
		<thead>
			<tr>
				<th>
					<p><h3>{{article.title}}</h3> </p>
					<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<blockquote>
						<p> &nbsp;&nbsp;&nbsp; {{article.data }}</p>
					</blockquote>
				</td>
			</tr>
			<tr>
				<td>
					<small>by <cite>{{article.by}}</cite></small> <p class="pull-right">{{article.createdAt | date:"MM/dd/yyyy 'at' h:mma"}} </p>
				</td>
			</tr>
		</tbody>


		<tbody>
			<tr>
				<td>
					<h4>Comments:</h4>
				</td>  
			</tr>
			<tr ng-repeat="comment in article.comments">
				<td>
					<div class="row">
						<div class="col-sm-10">
							<div class="bubble-list">

								<div class="bubble clearfix">
									<img src="/images/no-image-icon-md.png" alt="image">

									<div class="bubble-content">
										<div class="point"></div>
										<p>{{comment.author}} said:</p>
										<p>{{comment.body}}</p>
									</div>
								</div>



							</div>
						</div>
						<div class="col-sm-2">
							<table class="stayright">
								<tbody class="vali">
									<tr>
										<th rowspan="2"> {{comment.upvotes}}</th>
										<td><span class="glyphicon glyphicon-triangle-top"
											ng-click="incrementUpvotes(comment)"></span></td>
										</tr>
										<tr>
											<td><span class="glyphicon glyphicon-triangle-bottom"
												ng-click="derementUpvotes(comment)"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
				</tbody>


			</table>
			<form name="postForm"  ng-submit="addComment()"
			style="margin-top:30px;">
			<h4>Add a comment</h4>

			<div class="form-group">
				<textarea class="form-control" rows="5" required placeholder="Comment"
				ng-model="comment.body">
			</textarea>           
		</div>
		<button type="submit" class="btn btn-primary"> Post</button>
	</form>
</div>    



<div class="bubble-list">

    				<div class="bubble clearfix">
    					   
    					<img src="/images/no-image-icon-md.png" alt="image">
						 
    					<div class="bubble-content">
    						 
    							 
    						<div class="point"></div>
    						<p>{{comment.author}} said:</p>
    						<p>{{comment.body}}</p>
    					</div>
    					 
    				 </div>
    			
    			</div>


// new-article form 
   <textarea class="form-control" rows="10" required placeholder="Article"
				          ng-model="newPost.text">
				      </textarea>
// article.html
	  <blockquote>
			<p> &nbsp;&nbsp;&nbsp; {{article.data }}</p>
		</blockquote>